
//   Задача №2 Придать внешний вид
body {
  margin: 0;
  padding: 0;
}
div {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  &:before, &:after {
    display: block;
    content: '';
    clear: both;
  }
}
.general {
  padding: 10px 25px;
  width: 65%;
  float: left;
}
.over_caption, .over_message {
  display: table;
  padding: 5px;
  font-family: 'Caveat', cursive;
  font-size: 1.8em;
  color: #663366;
}
.caption {
  display: table;
  float: left;
}
.sub_caption {
  border: 1px #9933FF  solid;
  border-radius: 5px;
  height: 30px;
  width: 234px;
}
.sub_message{
  float: left;
  border: 1px #9933FF  solid;
  border-radius: 5px;
}
.sign {
  float: left;
  display: table;
  width: 120px;
}
.form {
  margin: 0px 0px 10px 0px;
  width: 366px;
  &__submit {
    background: white;
    border: 1px #9933FF  solid;
    border-radius: 5px;
    font-family: 'Caveat', cursive;
    font-size: 1.3em;
    width: 50px;
    float: right;
    margin: 0px 5px;
  }
}
.record_echo {
  position: relative;
  margin: 0px 0px 25px 0px;
  padding: 15px 5px 5px 5px;
  display: table;
  background: white;
  border: 1px #9933FF  solid;
  border-radius: 5px;
  font-family: 'Caveat', cursive;
  width: 500px;
}
.recording_time {
  position: absolute;
  top: -16px;
  left: 15px;
  padding: 5px 10px;
  display: table;
  background: white;
  border: 1px #9933FF  solid;
  border-radius: 5px;
  font-family: 'Audiowide', cursive;
  font-size: 1em;
  height: 30px;
}
.caption_echo{
  display: table;
  font-family: 'Pattaya', sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  text-align: center;
  width: 100%;
}
.message_echo{
  text-align: justify;
  font-family: 'Jura', sans-serif;
  font-size: 1em;
}
a {
  display: block;
  font-family: 'Caveat', cursive;
  font-size: 1.8em;
  margin: 0px 0px 30px 290px;
}
.auth, .regis {
  margin: 15px 0px 0px 15px;
  padding: 10px;
  font-family: 'Lobster', cursive;
  font-size: 1em;
  background: white;
  border: 1px #9933FF  solid;
  border-radius: 5px;
}
.fill{
  margin: 0px 0px 0px 15px;
  display: table;
}
h2{
  color: #9900CC;
  text-align: center;
}
.form-login__submit:extend(.form__submit), .form-registration__submit:extend(.form__submit) {
/*.form-login__submit, .form-registration__submit {*/
  background: #9900CC;
  border: 1px #9933FF  solid;
  border-radius: 5px;
  font-family: 'Modern Antiqua', cursive;
  font-size: 1.1em;
  color: white;
  width: 100px;
  float: right;
  margin: 0px 5px;
}
.form-ligin__login, .form-login__password, .form-registration__login, .form-registration__password,.form-registration__name {
  border: 1px #9933FF solid;
  border-radius: 5px;
  height: 20px;
  width: 200px;
}
.test {
display: table;
}
.label {
  float: left;
  display:table;
  font-family: 'Amatic SC', cursive;
  color: #9933FF;
  font-size: 1em;
  font-weight: 700;
}
.label_log:extend(.label) {
  margin: 0px 0px 0px 85px;
}
.label_pass:extend(.label){
  margin: 0px 0px 0px 177px;
}
.label_name:extend(.label) {
  margin: 0px 0px 0px 85px;
}
.error {
  margin: 20px 0px 0px 90px;
  font-family: 'Underdog', cursive;
  color: #FF0033;
  font-size: 1.5em;
  width: 435px;
  text-align: center;
}
.hello {
  text-align: center;
  display: table;
  max-width: 250px;
  margin: 7px 0px 0px 340px;
  padding: 0px 6px 3px 8px;
  border: 1px #9933FF solid;
  border-radius: 5px;
}
.subhello_1 {
  font-family: 'Neucha', cursive;
  color: #9933FF;
  font-size: 1.5em;
}
.subhello_2 {
  font-family: 'Neucha', cursive;
  color: #9933FF;
  font-size: 1.1em;
}