.post {
  padding: 0 0 15px 0;
}
.pagination {
  margin: auto;
  display: table;
}
.pagination:before,
.pagination:after {
  content: '';
  clear: both;
  display: block;
}
.pagination__item {
  display: block;
  float: left;
  width: 2em;
  height: 2em;
  text-align: center;
  border: 1px solid #eee;
  line-height: 2em;
  text-decoration: none;
}
.pagination__item.active {
  background: green;
  color: #fff;
  border-color: green;
  cursor: pointer;
}
